[Unit]
Description=Metrics As Scores
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
WorkingDirectory=/var/www/metrics-as-scores
ExecStart=/var/www/metrics-as-scores/venv/bin/bokeh serve src/metrics_as_scores/webapp --allow-websocket-origin="*" --address=127.0.0.1 --port=5678 --prefix=/ --args preload dataset=qcc
KillMode=mixed
TimeoutStopSec=2
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=metrics-as-scores
User=ubuntu
Group=www-data

[Install]
WantedBy=multi-user.target
