{% extends base %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
{% block inner_head %}
    <!--<link rel="icon" href="data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" />-->
    <link rel="icon" href="./webapp/static/curve.ico" />
    <meta charset="utf-8">
    <title>{% block title %}{{ title | e if title else "Bokeh Plot" }}{% endblock %}</title>
{%  block preamble -%}{%- endblock %}
{%  block resources -%}
{%   block css_resources -%}
    {{- bokeh_css if bokeh_css }}
{%-  endblock css_resources %}
{%   block js_resources -%}
    {{  bokeh_js if bokeh_js }}
{%-  endblock js_resources %}
{%  endblock resources %}
{%  block postamble %}{% endblock %}
{% endblock inner_head %}
</head>
{% endblock head%}
{% block body %}
<body>
{%  block inner_body %}
{%    block contents %}
{%      for doc in docs %}
{{        embed(doc) if doc.elementid }}
{%-       for root in doc.roots %}
{%          block root scoped %}
{{            embed(root) }}
{%          endblock %}
{%        endfor %}
{%      endfor %}
{%    endblock contents %}
{{ plot_script | indent(4) }}
{%  endblock inner_body %}
<script async>
    (_ => {
        let s = document.createElement('script');
        s.async = true;
        s.src = `./webapp/static/main.js?r=${Math.random()}`;
        document.body.appendChild(s);

        s.onload = () => {
            let t = document.createElement('link');
            t.type = 'text/css';
            t.rel = 'stylesheet';
            t.href = `./webapp/static/styles.css?r=${Math.random()}`;
            document.head.appendChild(t);
        };
    })()
</script>
</body>
{% endblock body%}
</html>