html, body {
	margin: 0 !important;
	padding: 0 !important;
}
html {
	overflow-y: scroll;
}

a {
	color: blue !important;
	text-decoration: underline !important;
}

small {
	font-size: 60% !important;
}

ul {
	list-style-type: '–  ';
	padding-left: 2em;
}
